@import '@design/settings/colors';
@import '@design/tools/sizing';
@import '@design/trumps/controls';

.hamburger {
  background: none;
  border: none;
  cursor: pointer;

  @include focusable-control;

  &__line {
    background-color: $color__basic-100;
    border-radius: rem(4);
    display: block;
    height: rem(2);
    opacity: 1;
    transform: rotate(0);
    transform-origin: 10% 10%;
    transition: all 0.3s ease-in-out;
    width: rem(22);

    &:not(:first-child) {
      margin-top: rem(4);
    }

    &--top.crossed {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }

    &--mid.crossed {
      opacity: 0;
    }

    &--bot.crossed {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
  }
}
