.mobile-header {

  &__mobile-menu {
    transition: transform 0.2s ease-in-out;

    &--enter {
      transform: translateX(-100%);
    }

    &--enter-active,
    &--enter-done {
      transform: translateX(0);
    }

    &--exit-active {
      transform: translateX(-100%);
    }
  }

  &__hamburger {
    z-index: 1;
  }
}
