@import '@design/settings/colors';
@import '@design/tools/sizing';
@import '@design/trumps/controls';

.mobile-menu {
  background-color: $color__basic-1000;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: rem(60) rem(15) rem(15);
  position: fixed;
  top: 0;
  width: 100%;

  &__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style: none;
    margin: rem(15) 0;
  }

  &__link {
    color: $color__basic-600;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;

    @include focusable-control;

    &:hover {
      color: $color__basic-100;
    }
  }
}
