@import '@design/settings/colors';
@import '@design/tools/sizing';
@import '@design/objects/slide-animations';

.logo {
  --from-slidein: #{rem(-115)};
  --to-slidein: 0;

  color: $color__basic-100;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  text-decoration: none;

  &__title1 {
    animation: slidein 0.4s ease-out forwards;
    font-size: rem(24);
    text-transform: uppercase;
  }

  &__title2 {
    animation: slidein 0.4s ease-out forwards;
    animation-delay: 0.1s;
    font-size: rem(18);
    font-weight: lighter;
    margin-left: rem(25);
    transform: translateX(var(--from-slidein));
  }
}
