@import '@design/settings/colors';
@import '@design/tools/sizing';

.header {
  background-color: $color__basic-1100;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: rem(15);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
